.git
.github
.next
.open-next
.output
.wrangler
out
build
coverage
node_modules
.pnp
.yarn
.vercel
.vscode
.history
.DS_Store
*.pem
*.log
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
